/**
 * @organization: Console Art Cybernetic - https://cacybernetic.github.io
 * @author: Obrymec - https://obrymec.vercel.app
 * @fileoverview: The main controller of page.
 * @supported: DESKTOP, MOBILE
 * @created: 2025-02-10
 * @updated: 2026-04-10
 * @file: style.css
 * @version: 0.0.3
 */

/** Loader */
svg {
  animation: RotationAnimation 400ms linear 0ms infinite normal forwards;
}

/** Hide an element */
.hidden {
  visibility: hidden;
  opacity: 0;
}

/** Body */
body {
  background-color: aliceblue;
  color: #343434;
  padding: 16px;
}

/** Description */
span.description {
  font-weight: normal !important;
  line-height: 20px;
  font-size: 14px;
  width: 272px;
}

/** Label */
span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  user-select: none;
  font-weight: bold;
  font-size: larger;
}

/** Rotation animation */
@keyframes RotationAnimation {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

/** Main container */
div {
  transform: translate(-50%, -50%);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all .2s;
  position: fixed;
  row-gap: 24px;
  display: flex;
  left: 50%;
  top: 50%;
}
